<% include partials/header %>

<!-- THIS IS MY HEADERRRR-->

<div id="headerwrap">
  <div class="container">
    <div class="row" style="margin-top: -60px">
      <div class="col-lg-6 col-lg-offset-3">

        <h1>SK8TEPARK</h1>
        
      </div>
    </div>
  </div>
</div>


<!-- A LITTLE DESCRIPTION ABOUT MYSELFFFF -->

<div class="container ptb" style="padding-top: 25px;">
   
      <div class="row">
        <h2 class="centered mb text-center"><h2/>
        <div class="col-md-6">
       
        </div><!--/col-md-6-->
        <div class="col-md-6">
         
        </div><!--/col-md-6-->
      </div><!--/row-->
    </div><!-- /.container -->
    <div class="container" style="padding-top: 45px">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
           
            
        </div>
      </div><!--/row-->
    </div><!--/.container-->



</div> <!-- End of Navigation Bar -->





<div class="container ptb" style="padding-top: 25px;">
      <div class="row">
        <h2 class="centered mb text-center"></h2>
        <div class="col-md-6">
          
        </div><!--/col-md-6-->
        <div class="col-md-6">
         
        </div><!--/col-md-6-->
      </div><!--/row-->
    </div><!-- /.container -->
    <div class="container" style="padding-top: 45px">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
        <form class="form-search" role="form" action="/search" method="GET">
        <label for="city" class="sr-only">City</label>
        <input type="text" id="city" class="form-control" name="city" placeholder="Enter City" required autofocus>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Search Now</button>
      </form>

        </div>
      </div><!--/row-->
    </div><!--/.container-->

</div>

<!-- End of Form -->









<!-- CONCLUSION -->
<div class="thanks">
  <div class="container">
    <div class="row text-center" style="padding-top: 30px;">
      <h2> Travel Enthusiast? </h2>
      <div class="col-lg-4 col-md-4 col-sm-4 col-sm-offset-4 col-md-offset-4 col-lg-offset-4">
        <img class="img-responsive" src="/images/image8.jpg" alt="">
      </div>
    </div>
  </div>
</div>


<section id="contact"></section>
<div id="sep">
  <div class="container">
    <div class="row centered">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h1>Find SK8TEPARKS all over the world easily!</h1>
       


      </div>
    </div><!--/row-->
  </div><!--/container-->
</div><!--/.sep-->







<% include partials/footer %>